<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- font awesone -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">

    <!-- CSS -->
    <link rel="stylesheet" href="css/styles.css">

    <title>Bienvenid@s</title>
</head>
<body>
    <header>
        <nav>
            <ul class="menu">
                
                <li class="item"> <a href="#">    <i class="fas fa-bars">            </i> </a> </li>
                <li class="item"> <img class="logo" src="img/MART2.png" alt="Logo">  </li>
                <li class="item"> <input type="search" placeholder="Buscar...">   </li>
                <li class="item"> <a href="#"> <i class="fas fa-search">    </i> </a> </li>
                <li class="item"> <a href="#"> <i class="fas fa-shopping-cart">      </i> </a> </li>
                <li class="item"> <a href="#">  <i class="fas fa-user">     </i> </a> </li>
                
            </ul>
        </nav>
    

    </header>

    <main>
        <section class="carrousel">
            <h1>Aqui va caroousel con imagenes destacadas</h1>
        </section>


        <section class="descuentos">
            <h2>Seccion con descuentos destacados</h2>
        </section>

        <section class="newsletter">
            <h2>Invitacion a Newsletter</h2>

        </section>



    </main>


    <footer>
        <section class="sec-items"> 
            <article>
                <ul>
                    <li> item 1</li>
                    <li> item 2</li>
                    <li> item 3</li>
                </ul>
            </article>


            <article>
                <ul>
                    <li> item A</li>
                    <li> item B</li>
                    <li> item C</li>
                </ul>
            </article>

        </section>

        <article class="copyright">
            Derechos reservados - 20XX
        </article>

    </footer>
    
</body>
</html>