<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- font awesone -->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">

        <!-- Google font (Roboto) -->
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">
    
        <!-- CSS -->
        <link rel="stylesheet" href="/css/styles.css">
        <link rel="stylesheet" href="/css/styles_Register_prov.css">

    <title>DigiMart Register</title>
</head>
<body>
    <header>
       <!-- Navbar -->
       <%- include('../partials/navbar')%>
       
    </header>
  
    <main>

        <div class="title-form">
            <p> Formulario de Registro</p>    
        </div>

        <form  action="./register" method="POST" enctype="multipart/form-data"> 
            <fieldset> 
                <legend>Nombre</legend> 
                <div class="field-container">
                    <i class="fas fa-user">   </i> 
                    <input type="text" id="Nombre y apellido" name="nombreApe">
                </div>
            </fieldset>

            <fieldset> 
            <legend>Nombre de Usuario:</legend> 
                <div class="field-container">
                    <i class="fas fa-user-tag">   </i>
                    <input type="text"id="Nombre de usuario" name="nombreUsuario">
                </div>
            </fieldset>
        


            <fieldset> 
               <legend>Fecha de Nacimiento:</legend> 
                <div class="field-container">
                    <i class="fas fa-calendar">   </i> 
                    <input type="text"id="Fecha de Nacimiento" name="fechaNac">
                </div>
            </fieldset>
        
    
            <fieldset> 
                <legend>Domicilio:</legend>    
                <div class="field-container">
                    <i class="fas fa-map-marker">   </i> 
                    <input type="text"id="Domicilio" name="Address">
                </div>
            </fieldset>

            <fieldset> 
                <legend>Email:</legend>    
                <div class="field-container">
                    <i class="fas fa-envelope">   </i> 
                    <input type="email" name="email" id="email">
                </div class="field-container">
            </fieldset>
    
            <fieldset> 
                <legend>Contraseña:</legend>    
                <div class="field-container">
                    <i class="fas fa-lock">   </i> 
                    <input type="password" name="password" id="Password">
                </div class="field-container">
            </fieldset>

            <fieldset> 
                <legend>Confirmar Contraseña:</legend> 
                <div class="field-container">
                    <i class="fas fa-lock">   </i> 
                    <input type="password" name="passwordConfirm" id="Password_Confirmation">
               </div>
            </fieldset>

            <fieldset> 
                <legend>Imagen de Perfil:</legend>    
                <div class="field-container">
                   <input type="file" name="imagenPerfil" id="imagenProducto">
                </div>
            </fieldset>
    
         <h8>Al crear una cuenta, aceptas el Aviso de Privacidad, los Términos y Condiciones, así como el envío de noticias y promociones exclusivas. Puedes desactivar el envío de promociones desde el enlace incluido en cada correo.</h8> 

     <input type="submit" value="Crear Cuenta">
     <input type="reset" value="Limpiar">
       
     
        </form>
    </main>


    <footer>
        <section class="sec-items"> 
            <article>
                <ul>
                    <li><a href="#/atencion-cliente">Atención al cliente</a> </li>
                    <li><a href="#/preguntas-frecuentes">Preguntas Frecuentes</a> </li>
                    <li><a href="#/locales"> Nuestros Locales</a> </li>
                </ul>
            </article>


            <article>
                <ul>
                    <li> <button class="baja-newsletter"> Baja Newsletter</button></li>
                    <li><a href="#/trabaja-nosotros">Trabajá con Nosotros</a> </li>
                    <li><a href="#/terminos-condiciones">Términos y condiciones</a> </li>
                </ul>
            </article>


            
            <article>
                <h3> Síguenos!</h3>
                <ul class="redes">
                    <li><a href="#/whatsapp"><i class="fab fa-whatsapp"></i>  </a> </li>
                    <li><a href="#/facebook"><i class="fab fa-facebook"></i>  </a> </li>
                    <li><a href="#/instagram"><i class="fab fa-instagram"></i> </a> </li>
                </ul>
            </article>

        </section>

        <article class="copyright">
            Derechos reservados - 20XX
        </article>

    </footer>
    
 
</body>


<!-- Scripts -->
<script type="module" src="/js/base.js"></script>

</html>






