/* Variables */
:root {
    /* Colores */
    
    /* Dark Mode */
    --menu-color: rgb(17, 238, 238);
    --footer-color: rgb(55, 53, 51);
    --modal-secondary-color: rgba(55, 53, 51, 0.85);
    
    --font-color--dark-gray: rgb(55, 53, 51);
    --font-color--dark: rgba(55, 53, 51, 0.89);
    --font-color--dark-destacado: rgb(17, 238, 238);

    --GrisOscuro: #666;
    --GrisClaro: #ebebeb;
    --Verde: #39b54a;


    --red-color: rgb(235, 34, 34);


    /* Variables */
    --menu-mobile-height : 15vh;
  }

  
main section {
    /* background-color:ghostwhite; */
    border-color: black;
    margin-left: 200px;
    margin-block: 3%;
    width: 100%;
    color: whitesmoke;
    
}
.Subtotal{
    margin-top: 1%;
}

div .fab{
    /*background-color: black;*/
    border-radius: 1px;
    color:var(--GrisOscuro);
    font-size: 25px;
    height: 20px;
    margin: 5px 15px 20px 0px;
    padding: 2px;
    width: 10px;
}

.BotonPagar{
    background-color:rgb(41, 108, 252);
    border-radius: 1px;
    color:white;
    font-size: 10px;
    font:bold;
    height: 25px;
    margin: 5px 20px 20px 0px;
    padding: 2px;
    width: 90px;
}
/*
article div.articulo_carrito{
    width: 100%;
    border-bottom: 20px solid #ebebeb;
    padding: 20px;
}*/

.ProductosCarrito article{
    display: flex;
    
}
.ProductosCarrito{
    display: flex;
    flex-wrap: wrap; 

}


.ProductosCarrito article{
    transition: all 0.7s ease;     
}

.ProductosCarrito article:hover{
    
    transform: scale(1.2);
    
}

.ProductCart_images{
    width:50%;
    height:auto;
}




/***************************** MEDIA QUERIES *****************************/



/******* tablets   ***************/
 @media (min-width:600px) {
     
/******************** header *********************/

/******************** main *********************/
     .ProductosCarrito article{
         width: 50%;
     }

/******************** footer *********************/
} 


/******* Desktop  ***************/
 @media (min-width:961px){
    /******************** header *********************/

    /******************** main *********************/
    .ProductosCarrito article{
        width: 25%;
    }

    /******************** footer *********************/
     }  